*{
    margin: 0px;
    padding: 0px;
    background-color: #FDFEF8; 
   
}

body{
    font-size: 1.25rem;
    font-family: 'Hind', sans-serif;
}

.button{
  background-color: #4CAF50;
  border: none;
  color:#E0E1E1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
   transition: all 0.3s ease 0s;
  width: 200px;
  height:50px;
  margin:10px 10px 10px 0px;
  font-family: 'Hind', sans-serif;
}

#title{
    margin-left: 22px;
}
#title, #author{
    width: 300px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.15rem;
}

.edit-button, .delete-button{
    border: none;
    color: #E0E1E1;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    width: 55px;
    height: 35px;
    font-family: 'Hind', sans-serif;

}

.item-button{ 
    border: none;
    color: black;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 300px;
    height: 35px;
    font-family: 'Hind', sans-serif;

}
.edit-button{
    background-color:#541388;
        padding: 4px 14px;
        margin: 2px 10px 2px 0px;

}

.delete-button{
    background-color: #e63c3c;
    padding: -1px 9px;
    margin: 2px 15px 2px 0px;
}

.box{
    margin:10px;
}

.button:hover {
    background-color:#E0E1E1;
    color: #4CAF50;
  }

.flex-container{
    display: flex;
    flex-direction:column;
    padding:2rem;
    overflow: auto;
    
}

#book-list{
    border: 2px#E0E1E1;
    border-style: solid;
    border-radius: 8px;
    width:700px;
}

h1{
    font-size: 4rem;
    font-weight: 500;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    
  }

#add-book-button, #form-add-book, #get-books{
    display: none;
}

.list-items{
    list-style: none;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 10px;
    font-size: 1.2rem;
    border:black 1px;
}

@media only screen and (max-width: 600px){

    body, .list-items{
        font-size: 1rem;
    }

    h1{
        font-size: 3rem;
    }

    #title{
        margin-left: 0px;;
    }

    #title, #author{
        font-size: 1rem;
    }

    .flex-container{
        padding:1rem;
    }

    #book-list{
        width:310px;
    }
}